#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: aqua;
  height: 300px;
  flex-shrink: 2;
}
table {
  width: 50%;
  border: rgb(0, 0, 0) 3px solid;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
th {
  border: 3px solid;
}
td {
  border: 3px solid rgb(0, 0, 0);
}
button {
  width: 100%;
}
